# Dependencies
node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scratch & temporary docs
English_Monologue_Script.md
/ATENTO5_Hoja_Membretada.docx
/ATENTO5_Hoja_Membretada.pdf
/public/html-docx-js.js

